pipeline/DeltaCopyOnline.json
{
	"name": "DeltaCopyOnline",
	"properties": {
		"activities": [
			{
				"name": "Blob to DL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Old Water Mark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "online//"
					},
					{
						"name": "Destination",
						"value": "raw/online/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('Old Water Mark').output.firstRow.oldWatermarkValue",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"skipErrorFile": {
						"fileMissing": true
					},
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_hg0",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_hg0",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Write Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Blob to DL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@addhours(pipeline().TriggerTime, -3)",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"SourceName": {
							"value": "azurementoringstorageok/online",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SqlServerCinemaTickets",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Old Water Mark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(WatermarkValue) as oldWatermarkValue \nfrom dbo.watermarktable \nwhere SourceName = 'azurementoringstorageok/online' \ngroup by SourceName ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableTickets",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "watermarktable"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-07T17:12:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}